CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/
.cache/
.vendir/
data/fen
data/csv
data/masked
data/ctx
logfile.txt

send.txt_*
send_*
data/cplusplusorg.freeformjs.imploded.zip_*
data/exparx.webflow.zip*
data/exparx.webflow.zip_*
data/cplusplusorg.freeformjs.imploded.zip.*
data/cplusplusorg.freeformjs.imploded.zip.dir
data/cplusplusorg.freeformjs.imploded.zip.dir*
data/client/*
data/server/*
runtime/*

testit/
testit2/
